.footer {
  background-color: #ececec;
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  width: 100%;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .content {
      text-align: center;

      p {
        color: #6c757d;
        font-size: 20px;
        font-family: sans-serif;
      }
    }
  }
}