.page-header {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px; /* Add some space between the title and the cards */
}
  
.page-header h1 {
  font-size: 2.5em; /* Larger font size for the title */
  color: #333; /* Dark color for the text */
  margin: 0;
  font-weight: normal; /* Adjust the weight of the font, if necessary */
}

.articles-index {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.article-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.article-card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.article-header {
  padding: 15px;
  background-color: #f9f9f9;
}

.article-header h2 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.author-name {
  font-size: 0.9em;
  color: #666;
}

.article-meta {
  padding: 10px 15px;
  background-color: #fff;
}

.publication-date {
  font-size: 0.8em;
  color: #666;
}

.article-card h2 a {
  color: #333; /* Same color as your regular text for the title */
  text-decoration: none; /* Removes the underline from the link */
}

.article-card h2 a:hover {
  color: #5e5c5c; /* Change the color when the link is hovered */
}