/* Navbar styles */
.navbar {
  background-color: #073642; /* A dark bluish color */
  padding: 20px 0;
}

.container {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.navbar-item {
  color: #819090; /* A light grey color for contrast */
  text-decoration: none;
  padding: 8px 16px;
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }
}
